.pc-dsp { 
    display:block;
}
.sp-dsp { 
    display:none;
}
 
@media only screen and (max-width : 736px){
    .pc-dsp {
        display:none;
    }
    .sp-dsp {
        display:block;
    }
}
.button-size{
    width: 150px;
    height: 150px;
    font-size: 80px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.button-sizes{
    width: 200px;
    height: 200px;
    font-size: 40px;
    margin-bottom: 2px;
    margin-left: 2px;
}

